html {
  background-image: url(../img/фон2.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;

}


.header {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: flex-start;
   height:10em;
   margin: 5px;

}

.top-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
  height: 10em;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
   background-size: 100%;
   background: url(../img/backmenu.png);
   background-repeat: no-repeat;
}

h2 {font-size:1.5em;	color:#ffffff;	text-align:center;	padding:1.0em;}
h3,h4 {font-size:1.2em;}

nav ul {
   display: flex;
   flex-direction: row;
   flex-grow: 1;
	 justify-content: flex-start;
	 height: 10em;
   padding-inline-start: 5px;
   font-family: Comic Sans;
}

nav li {
    display: inline;
    color: white;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: x-large;
}


a {border: 10px;  color: white; text-decoration: none;}
a:hover  {color: rgb(252, 157, 81);text-decoration: none;}
.current {color: white;}

.active{
  color: darkorange;
}

.hello {
  display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   height:50em;
   margin: 5px;
   backdrop-filter: blur(2px);
   margin: 5px;
   height: 579px;
}


.left-hello {
    height: 579px;
    width: 380px;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    background-size: 100%;
    background: url(../img/papyrus.png);
    background-repeat: no-repeat;
    font-family: Monako;
    color: saddlebrown;
    text-decoration: none;
    font-size: x-large;
  }

.right-hello {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;


}

.main-form {
  display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   height:50em;
   margin: 5px;
  backdrop-filter: blur(2px);

}

.form  {
   height: 700px;
    width: 450px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Monako;
    color: saddlebrown;
    text-decoration: none;
    font-size: large;
    background: url(../img/papyrus2.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.right-arch {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  height: 600px;
  width: 450px;


}
.left-arch {
    height: 1000px;
    width: 450px;
    padding-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    background: url(../img/papyrus2.png);
    background-size: 106%;
    background-repeat: no-repeat;
    font-family: Monako;
    color: saddlebrown;
    text-decoration: none;
    font-size: large;
  }

.hello2 {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   margin: 5px;
   backdrop-filter: blur(2px);
   margin: 5px;
   height: 1000px;
   font-family: Comic Sans;
   font-size: large;
   color: saddlebrown;
}

.form2  {
    height: 579px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: Monako;
    color: saddlebrown;
    text-decoration: none;
    font-size: large;
    background: url(../img/papyrus2.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

table {
  ext-decoration: none;
  border-collapse:collapse;
  width:100%;
  text-align:left;
}
	th {
   font-weight:normal;
    font-size:15px;
    white-space:pre-wrap;
    padding:20px 6px;
    line-height:15px;
    vertical-align: middle;
    border: 5px solid #8B4513FF;

  }

	td {
    font-size:15px;
    white-space:pre-wrap;
    padding:20px 6px;
    line-height:15px;
    vertical-align: middle;
    border: 5px solid #8B4513FF;}

  tr:hover {
   background-color:#5e2003;
 }
	tr:hover td{
    color:#ffffff;cursor:default;}
	.mobile-table{width: 100%; max-width: 100%; overflow-x: auto;}


